@model IEnumerable<Book>
@{
    ViewData["Title"] = "Таблица 'Книги'";
}
<h1>@ViewData["Title"]</h1>

<p align="center">
    <table border="1">
        <tr>
            <td>Id книги</td>
            <td>Название книги</td>
            <td>Тираж</td>
            <td>Дата выхода из печати</td>
            <td>Себестоимость книги</td>
            <td>Розничная цена книги</td>
            <td>Гонорара автора</td>
            <td>Id автора</td>
        </tr>

        @foreach (var book in Model)
        {
    <tr>
        <td>@book.BookId</td>
        <td>@book.Name</td>
        <td>@book.Total</td>
        <td>@book.Exitdate</td>
        <td>@book.Basecost</td>
        <td>@book.Finishcost</td>
        <td>@book.Salary</td>
        <td>@book.AuthorId</td>
    </tr>
        }
    </table>
</p>
